.Rproj.user
.Rhistory
.RData
.Ruserdata

# folders to ignore (end with "/")
_book/
*_files/
_freeze/
.quarto/
data/IRS spreadsheets/
data/tmd/
documents/
ignore/
OLD_targets_mockup/
tmd/images/

# filetypes and files to ignore
#  *.csv -- do allow potential_targets.csv
*.html
*.rds
*~*  # temporary files
growfactors.csv



